<div style="background:#1f2937;color:white;padding:10px 20px;display:flex;justify-content:space-between;align-items:center;">

    <div>
        <span style="font-weight:bold;">Employee App</span>
    </div>

    <div style="display:flex;gap:10px;">
        <button (click)="goToEmployees()" style="background:#2563eb;color:white;border:none;padding:6px 10px;border-radius:6px;">
            Employees
        </button>

        <button (click)="goToAdd()" style="background:#10b981;color:white;border:none;padding:6px 10px;border-radius:6px;">
            Add
        </button>

        <button (click)="logout()" style="background:#ef4444;color:white;border:none;padding:6px 10px;border-radius:6px;">
            Logout
        </button>
    </div>

</div>
